.container{
    height: 100vh;
    box-sizing: border-box;
    padding: 5vmax;
}

.vector{
    animation: vectorAnimation 1s infinite ease-in-out alternate-reverse ;
}

.brandBanner> svg{
    font-size: 2rem;
    transition: color 0.5s;
}

.brandBanner > svg:hover{
    color: rgba(255,221,0);
}

.course{
    width: 250px;
    transition:  all 0.3s;
}

.course:hover{
    transform: translateY(-10px);
}

@keyframes vectorAnimation {
    to{
        transform: translateY(-10px);
    }
    
}